.main {
    background-color: rgb(240, 242, 245);
    
    &__containerChat {
        display: flex;
    }

    &__chatBox {
        flex: 2;
    }
    
    &__usersOnline {
        margin-top: 50px;
        flex: 1;
    }
}